{% extends "base.html" %}
{% block title %}
    Customer Detail
{% endblock title %}

{% block content %}
<h1> Customer Detail </h1>

<div class="card" style="width: 50rem; margin-top: 1rem;">
    <div class="card-body">
      <h4 class="card-title"> 
        {{ customer_detail.last_name }},
        {{ customer_detail.first_name }}
      </h4>
      <h5>
        {{ customer_detail.mailing_address }}<br>
        {{ customer_detail.mailing_city }},
        {{ customer_detail.mailing_state }}
        {{ customer_detail.mailing_zip }}<br>
        {{ customer_detail.phone }}<br>
        {{ customer_detail.email }}
      </h5>
    </div>
</div>

<div class="card" style="width: 50rem; margin-top: 1rem;">
    <div class="card-body">
        <h4 class="card-title">Customer Addresses</h4>
        <div class="list-group">
            {% for address in custaddresses %}
            <div class="list-group-item">
                {{ address.housenum }} {{ address.street }}
                {% if address.aptnum %} Apt {{ address.aptnum }}{% endif %}
                <br>
                {{ address.city }}, {{ address.state }} {{ address.zip }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <a href="{% url 'editcustomer' customer_detail.id %}" class="btn btn-primary">Edit Customer</a>
        <a href="{% url 'create911permit' customer_detail.id %}" class="btn btn-primary">Create Permit</a>
        <a href="{% url 'addaddress_customer' customer_detail.id %}" class="btn btn-success">Add Address</a>
    </div>
</div>

{% endblock %}
