{% extends "base.html" %}
{% block title %}
    Add Address
{% endblock title %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                    {% if customer %}
                        <li class="breadcrumb-item"><a href="{% url 'customerdetail' cpk %}">Customer Detail</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'addresslist' %}">Address List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Address</li>
                    {% endif %}
                </ol>
            </nav>
        </div>

        <div class="card">
            <div class="card-header">
                {% if customer %}
                    <h4>Add New Address for {{ customer.first_name }} {{ customer.last_name }}</h4>
                {% else %}
                    <h4>Add New Address</h4>
                {% endif %}
            </div>
            <div class="card-body">
                <form action="{% if cpk %}{% url 'addaddress_customer' cpk %}{% else %}{% url 'addaddress' %}{% endif %}" method="post" class="row g-2">
                {% csrf_token %}
                    {% if not customer %}
                    <div class="col-md-12 mb-3">
                        <label for="inputCustomer" class="form-label">Customer</label>
                        {{ form.customer }}
                    </div>
                    {% else %}
                        {{ form.customer }}
                    {% endif %}
                    <div class="col-sm-2">
                        <label for="inputNumber" class="form-label">Number</label>
                        {{form.housenum}}
                    </div>
                    <div class="col-md-2">
                        <label for="inputApt" class="form-label">Apt.</label>
                        {{ form.aptnum }}
                    </div>
                    <div class="col-md-8">
                        <label for="inputStreet" class="form-label">Street</label>
                        {{form.street}}
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">City</label>
                        {{ form.city }}
                    </div>
                    <div class="col-md-2">
                        <label for="inputState" class="form-label">State</label>
                        {{form.state}}
                    </div>
                    <div class="col-md-4">
                        <label for="inputZip" class="form-label">Zip</label>
                        {{form.zip}}
                    </div>
                    <div class="col-md-2">
                        <label for="inputWorkArea" class="form-label">Work Area</label>
                        {{form.work_area_num}}                    
                    </div>
                    <div class="col-md-2">
                        <label for="inputDistance" class="form-label">Distance</label>
                        {{form.distance}}
                    </div>
                    <div class="col-md-4">
                        <label for="inputOrigin" class="form-label">Origin</label>
                        {{ form.origin }}
                    </div>
                    <div class="col-md-2">
                        <label for="inputLorR" class="form-label">Left/Right</label>
                        {{ form.lr }}
                    </div>
                    <div class="col-md-2">
                        <label for="inputLotNum" class="form-label">Lot#</label>
                        {{ form.lot_num }}
                    </div>
                    <div class="col-md-12">
                        <label for="inputElectricCompany" class="form-label">Electric Company</label>
                        {{ form.provider }}
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail4" class="form-label">Notes</label>
                        {{ form.notes }}
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary">Save Address</button>
                        {% if customer %}
                            <a href="{% url 'customerdetail' cpk %}" class="btn btn-secondary">Cancel</a>
                        {% else %}
                            <a href="{% url 'addresslist' %}" class="btn btn-secondary">Cancel</a>
                        {% endif %}
                    </div>                  
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
